  <div class="content_post">
    <div style="float:left;">
      <span class="under">作成者:<%= blog.user.nickname %></span>
    </div>
    <br style="clear:both;"/>
    <div class="text_box">
    <p><%= blog.text %></p>
    </div>
  </div>