<div class="contents row">
  <div class="container">
  
  <h2>
    ざっくり投稿する
  </h2>
  <%= form_for @blog do |f| %>
  <%= f.text_area :text %><br>
  <%= f.submit "ざっくり投稿！" %>
    <% end %>

  </div>
</div>